<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div style="display: block; padding: 20px; background: white; background-size: auto; background: linear-gradient(135deg, #3f51b5, #e91e63); font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 400; text-align: center; color: white;">
    <b>MEMORO</b> <br/>
    Link aktywacyjny dla Twojego konta wygasł. Prosimy o ponowną rejestrację w naszej aplikacji.
</div>

</body>
</html>
